<!DOCTYPE html>
<html>
  <head>

    <title>SWTOR Chronicles - Movies, Resources, and Fan Content for Star Wars: The Old Republic </title>
    <meta charset="utf-8">
    <meta name="description" content="SWTOR Chronicles - Movies, Resources, and Fan Content for Star Wars: The Old Republic - Referral Code: Last Updated on 2018/9/1. http://www.swtor.com/r/RhG7QT">
    <meta property="og:image" content="http://d24wuq6o951i2g.cloudfront.net/img/events/id/309/3092361/assets/cb5.hope-009.jpg">
    <meta property="og:title" content="SWTOR Referral Code - Star Wars the Old Republic">
    <meta property="og:description" content="Updated Referral Code for SWTOR - Star Wars the Old Republic. Code is updated regularly">
    <meta property="og:url" content="https://swtor-referral.com">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="shortcut icon" href="/images/favicon.jpg" />
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-124825152-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-124825152-1');
	</script>
		<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-WS5PNRG');</script>
	<!-- End Google Tag Manager -->

	<!-- Facebook Pixel Code -->
	<script>
	  !function(f,b,e,v,n,t,s)
	  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	  n.queue=[];t=b.createElement(e);t.async=!0;
	  t.src=v;s=b.getElementsByTagName(e)[0];
	  s.parentNode.insertBefore(t,s)}(window, document,'script',
	  'https://connect.facebook.net/en_US/fbevents.js');
	  fbq('init', '282672949001911');
	  fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
	  src="https://www.facebook.com/tr?id=282672949001911&ev=PageView&noscript=1"
	/></noscript>
	<!-- End Facebook Pixel Code -->


  </head>
  <body>
  	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WS5PNRG"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
  	<script src="javascripts/scripts.js"></script>
  	<video autoplay muted loop id="backgroundVideo">
  		<source src="/video/background.mp4" type="video/mp4">
  	</video>
  	<div id = "backgroundOverlay">
	</div>
  	<div id = 'mainContainer'>
  		<div id = 'subContainer'>
  			<div class="mainLogoContainer">
	  			<img src="/images/swtor-logo.png" class = 'mainLogo'>
	  		</div>
  			<div class="mainLogoContainer">
	  			<img src="/images/chronicles-logo.png" class = 'mainTitleLogo'>
	  		</div>
	  		<div class="header">SWTOR Chronicles</div>
	  		<div class="subTitle">
	  			<p>Movies, Resources, and Fan Content for Star Wars: The Old Republic</p>
	  		</div>
	  		<div class="subTitle">
	  			<p>Follow SWTOR Chronicles on Youtube</p>
	  		</div>
	  		<div class="socialLink">
	  			<a href="https://www.youtube.com/channel/UC3HWWQUr7l87bYN_-aaAWDQ" class="imgLink" target="_blank">
	            <img src="/images/youtube-logo.png" alt="https://www.youtube.com/channel/UC3HWWQUr7l87bYN_-aaAWDQ" class="cms-image-img">
	            </a>
	  		</div>
	  		<div class="youtubeDesktop">
	  			<iframe width="600" height="328" style="max-width: 900px;" src="https://www.youtube.com/embed/r3khU309zVU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	  		</div>
	  		<div class="youtubeMobile">
	  			<iframe width="300" height="164" style="max-width: 900px;" src="https://www.youtube.com/embed/r3khU309zVU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	  		</div>
	  		<div class="subTitle">
	  			<p>Follow SWTOR Chronicles on Instagram</p>
	  		</div>
	  		<div class="socialLink">
	  			<a href="https://www.instagram.com/starwars_swtor_chronicles/" class="imgLink" target="_blank">
	            <img src="/images/instagram-logo.png" alt="https://www.instagram.com/starwars_swtor_chronicles/" class="cms-image-img">
	            </a>
	  		</div>
	  		<iframe src="https://www.powr.io/plugins/instagram-feed/view?unique_label=f4e52885_1532843470&amp;external_type=iframe" width="100%" style="max-width: 900px;" height="600" frameborder="0"></iframe>
	  		<div class="mainCTAWrapper">
	  			<a class="mainCTA" href="https://www.swtor-referral.com/signup">Sign-up with code RhG7QT</a>
	  		</div>
	  		<div class="subTitle">
	  			<p>- Valid until 1/1/2019 -</p>
	  			<p>Used for Free In-Game Bonus</p>
	  		</div>
	  		<div class="description">
	  			<p>SWTOR - Star Wars the Old Republic - is a MMO RPG on PC. To try the game is 100% free, and you can play all eight of the original class storylines as a Free-to-Play player, which are often considered the best part of the game.</p>
	  			<p><br></p>
	  			<p>Free-to-play, however, does come with a long list of convenience restrictions.To unlock the later expansions (beyond level 50) requires you to subscribe at roughly $15/month. Many players suggest subscribing at least for one month, to unlock all the expansions. You can still play them if you unsub after the first month.</p>
	  		</div>
	  		<div class="resources">
	  			<p><strong>Other Resources</strong></p>
	  			<p><br></p>
	  			<p>Game's Official Website - <a href="http://swtor.com">http://swtor.com</a></p>
	  			<p>Subreddit - <a href="https://www.reddit.com/r/swtor/">https://www.reddit.com/r/swtor/</a></p>
	  			<p>Swtorista - <a href="https://swtorista.com/">https://swtorista.com/</a></p>
	  			<p>Dulfy's Guide - <a href="http://dulfy.net/category/swtor/">http://dulfy.net/category/swtor/</a></p>			
	  		</div>
	  		<div class="disclaimer">
				<p>This site is in not endorsed by or affiliated with LucasArts, BioWare, or Electronic Arts.&nbsp;</p>
				<p><br>Trademarks are the property of their respective owners. &nbsp;LucasArts, the LucasArts logo, STAR WARS and related properties are trademarks in the United States and/or in other countries of Lucasfilm Ltd. and/or its affiliates. © 2008-2012 Lucasfilm Entertainment Company Ltd. or Lucasfilm Ltd. All Rights Reserved. BioWare and the BioWare logo are trademarks or registered trademarks of EA International (Studio and Publishing) Ltd. You may not copy any images, videos or sound clips found on this site or „deep link‟ to any image, video or sound clip directly. &nbsp;</p>
				<p><br>Game content and materials copyright LICENSOR. &nbsp;All Rights Reserved.</p>
	  		</div>
  		</div>
  	</div>

  </body>
</html>
